{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/player.css' %}">
	
	<title>NBA</title>

</head>
<body>
	<header class="banner">
		<form>
			<!-- <input type="submit" value="Generate random roster" /> -->
			<button type="submit"> Generate random roster</button>
		</form>	
	</header>
	<main class="players_grid">
		{% for player in players_list %}
		<div class="player">
			<div class="person">
				<div class="about">
					<span id='position'>{{ player.position }}</span>
					<div class="name">
						<span id="first_name">{{ player.first_name }}</span>
						<span id="last_name">{{ player.last_name }}</span>
					</div>
				</div>
				<div class="bmi">
					<span>{{ player.height_feet }}'{{ player.height_inches }}"</span>
					<span>{{ player.weight_pounds }} lbs</span>
				</div>
			</div>
			<div class="team">
				<span id="team_name">{{ player.team_name }}</span>
				<span id="team_division"><span>Division: </span>{{ player.division }}</span>
				<span id="team_conference"><span>Conference: </span>{{ player.conference }}</span>
			</div>
		</div>
		{% endfor %}
	</main>
</body>
</html>