{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/player.css' %}">
	
	<title>NBA</title>

</head>
<body>
	<main>
		<div class="player">
			<div class="name">
				<h1 id='position'>{{ player_stats.position }}</h1>
				<h2>{{ player_stats.first_name }} {{ player_stats.last_name }}</h2>
			</div>
			<div class="bmi">
				<span>{{ player_stats.height_feet }}'{{ player_stats.height_inches }}"</span>
				<span>{{ player_stats.weight_pounds }} lbs</span>
			</div>
			<div class="team">
				<p>{{ player_stats.team_name }}</p>
				<p>{{ player_stats.conference }}</p>
				<p>{{ player_stats.division }}</p>
			</div>
		</div>
	</main>
</body>
</html>